{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<h1 class="text-center mt-5">Création d'un article</h1>

   {{ form_start(form, {'attr': {'class' : 'container'}})}}
   

   {{ form_widget(form)}}

   
    <button type="submit" class="btn btn-success">Ajouter l'article</button>

   {{ form_end(form)}}

{% endblock %}
