{% extends 'base.html.twig' %}

{% block body %}

	<h1 class="text-center mt-5">Veille sur les formulaires Symfony</h1>

	<h2 class="text-center mt-5 font-weight-bold">Création d'un blog avec Symfony</h2>

{% endblock %}
