<!DOCTYPE html>
<html>
    <head>
        {% include "parts/_head.html.twig" %}
    </head>
    <body>
        {% block header %}
            {% include "parts/_header.html.twig" %}
        {% endblock %}

        {% block body %}
           
        {% endblock %}

        {% block footer %}
            {% include "parts/_footer.html.twig" %}
        {% endblock %}
    </body>
</html>
