<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{path('index')}}">
		<font style="vertical-align: inherit;">
			<font style="vertical-align: inherit;">
				Mon Blog
			</font>
		</font>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="# navbarColor01" aria-controls="navbarColor01" aria-extended="false" aria-label="Basculer la navigation ">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" href="{{path('accueil')}}">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							Accueil
						</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('formulaire')}}">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							Formulaire
						</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('contact')}}">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							Contact
						</font>
					</font>
				</a>
			</li>
		</ul>
		
	</div>
</nav>
